<footer class="footer">
  <div class="row">
    <div class="col-md-6">
     <p>Please follow all the advisories and orders by government. We all can make cenora veres perish in all dimensiones if we all ancquire PREVENTION. </p>
     <p>Made by <a href="https://github.com/aniketdvd">AniketDwivedi</a></p>
    </div>
    <div class="col-md-6">
      <p><a href="https://aniketdvd.github.io/covid-monit">Fork this!</a></p>
      <p><a href="#!">More</a></p>
    </div>
  </div>
    <marquee behavior="" direction="">Built with Angular, love and the octahedron of transcendence.</marquee>
</footer>