<main>
  <form>
    <div class="stat-selector">
      <select name="when" id="when" class="selector" disabled>
        <option value="allTime">All time</option>
        <option value="today">Today</option>
      </select>
      <select class="selector" (change) = "changeStats($event)">
        <option value="global">Global</option>
        <option *ngFor="let country of countries" [value]="country['alpha-3']" value="{{ country['alpha-3'] }}">({{ country['alpha-3'] }}) {{ country['name'] }}</option>
      </select>
    </div>
  </form>
<div class="row">
  <div class="col-md-6">
    <div class="stats">
      <div class="stat">
        <h5>
          Confirmed Cases
        </h5>
          <h2 class="text-warning">{{ covidMonitStats.confirmed }}</h2>
      </div>
      <div class="stat">
        <h5>
          Recovered
        </h5>
          <h2 class="text-success">{{ covidMonitStats.recovered }}</h2>
      </div>
      <div class="stat">
        <h5>
          Deaths
        </h5>
          <h2 class="text-danger">{{ covidMonitStats.deaths }}</h2>
      </div>
  </div>
</div>
<div class="col-md-6">
  <app-advisories></app-advisories>
</div>
</div>
</main>