/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: disposableDroid;
  src: url('./font/DisposableDroidBB.ttf');
}
* {
  font-family: disposableDroid;
  color: lawngreen;
  /* text-shadow: 2px 2px 10px rgba(126, 252, 0, 0.678); */
}